:root {
    --dark-gray: #202020;
    --light-gray: #3e3e43;
    --yellow: #f4c620;
    --white: #f6f6f6;
    --font1: #586E5E;
}

body {
    padding: 10px 50px;
    font-family: "Poppins Regular";
    max-width: 1270px;
    margin: 0 auto;
}

h3 {
    color: var(--yellow);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 10px 20px;
    box-sizing: border-box;

    h1 {
        font-size: 20px;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        gap: 10px;
    }
}

main {
    margin-top: 50px;
    min-height: 900px;

    h3 {
        font-size: 30px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    width: 200px;
    border: 3px solid transparent;
    padding: 4px;

    &:hover {
        cursor: pointer;

        img {
            transition-duration: 0.5s;
            position: absolute;
            bottom: 10px;
            left: 0;
        }
    }

    div {
        width: 100%;
        height: 300px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            border: 1px silver solid;
            box-sizing: border-box;
            bottom: 0px;
        }
    }

    span {
        font-size: smaller;
    }

    hr {
        border-color: var(--yellow);
    }
}

.desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 0px;
    padding: 0;
    background-color: wheat;
    transition-duration: 0.3s;
    box-sizing: border-box;
    overflow: hidden;

    a {
        color: var(--light-gray);
    }
}

.desc-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
    }
}

.desc-row {
    display: flex;
    gap: 20px;

    div {
        min-width: 200px;
        width: 200px;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.desc-show {
    height: 500px;
    padding: 10px 20px;
    margin-top: 40px;
}

.container-hide {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--dark-gray);
    color: silver;
    font-size: 12px;
    margin-top: 50px;

    span {
        text-align: center;
    }

    a {
        color: silver;
    }
}

.links {
    display: flex;
    gap: 5px;

    div {
        width: 20px;
        height: 20px;
        fill: white;
    }
}

hr {
    border: none;
    border-top: 1px solid var(--light-gray);
    margin: 15px 0;
}