@media screen and (max-width: 1050px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

@media (width < 574px) {
    .container {
        justify-content: center; 
    }
}

@media (width < 560px) {
    .desc-row {
        div {
            display: none;
        }
    }
}

@media (width < 470px) {
    header {
        padding: 0;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (width < 430px) {
    body {
        padding: 10px 10px;
    }    

    main {
        min-height: 600px;
    }

    .desc-row {
        div {
            min-width: 50px;
            width: 50px;
            height: 75px;
            margin-top: 5px;
        }

        p {
            margin: 0;
        }
    }

    .card {
        hr {
            margin: 5px 0;
        }
    }
}
