@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) {
    body {
        padding: 10px 10px;
    }    

    main {
        min-height: 600px;
    }

    .desc-row {
        div {
            min-width: 50px;
            width: 50px;
            height: 75px;
            margin-top: 5px;
        }

        p {
            margin: 0;
        }
    }

    .container {
        justify-content: center;
    }

    .card {
        hr {
            margin: 5px 0;
        }
    }
}
