@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

:root {
  --dark-gray: #202020;
  --light-gray: #3e3e43;
  --yellow: #f4c620;
  --white: #f6f6f6;
}

body {
  padding: 10px 50px;
  font-family: "Poppins Regular";
  max-width: 1270px;
  margin: 0 auto;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header h1 {
  font-size: 20px;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  gap: 10px;
}

main {
  margin-top: 50px;
  min-height: 900px;
}

main h3 {
  font-size: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.card {
  width: 200px;
  border: 3px solid transparent;
  padding: 4px;
}

.card:hover {
  cursor: pointer;
}

.card:hover img {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.card div {
  width: 100%;
  height: 300px;
  position: relative;
}

.card div img {
  width: 100%;
  height: 100%;
  border: 1px silver solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0px;
}

.card span {
  font-size: smaller;
}

.desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 0px;
  padding: 0;
  background-color: wheat;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.desc-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.desc-close svg {
  width: 100%;
  height: 100%;
}

.desc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.desc-row div {
  min-width: 200px;
  width: 200px;
  height: 300px;
}

.desc-row div img {
  width: 100%;
  height: 100%;
}

.desc-show {
  height: 500px;
  padding: 10px 20px;
  margin-top: 40px;
}

.container-hide {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--dark-gray);
  color: silver;
  font-size: 12px;
  margin-top: 50px;
}

footer a {
  color: silver;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.links div {
  width: 20px;
  height: 20px;
  fill: white;
}

hr {
  border: none;
  border-top: 1px solid var(--light-gray);
  margin: 15px 0;
}
/*# sourceMappingURL=style.css.map */